#menu {
margin: 0;
padding: 0;
font: bold 1em "georgia" ,verdana;
list-style-type: none;
}

#menu a {
  text-decoration: none; /* supprime le soulignement */
  color: black;          /* couleur du texte */
  padding: 10px 15px;    /* espace autour du texte */
  display: inline-block; /* permet de mettre du padding */
}
